NODE_ENV=development
PORT=3000
API_PREFIX=api
API_VERSION=1

DATABASE_ENABLED=false
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=e_commerce

REDIS_HOST=localhost
REDIS_PORT=6379
QUEUE_ENABLED=false

THROTTLE_TTL=60000
THROTTLE_LIMIT=100

STORAGE_DRIVER=local
SENTRY_DSN=
